body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #edeef0;
}

body .dropdowns-area {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10vh;
    justify-content: center;
    width: 70vw;
}

body .dropdowns-area .dropdowns-area__demo-container {
    width: 30em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dropdowns-area__demo-container__label {
    font-family: Roboto;
    font-weight: 400;
    font-size: 1.5em;
    margin: 0.5em 0;
}
