.vk-dropdown__input {
    display: flex;
    align-items: center;
}

.vk-dropdown__input::after {
    content: url(down-arrow.svg);
    width: 0.85em;
    height: 0.85em;
    margin-left: -1.4em;
}
.vk-dropdown__input input {
    outline: none;
    margin: 0;
    border: 1px solid #d3d9de;
    padding: 0.4em 1.8em 0.4em 0.8em;
}
