.vk-dropdown__input {
    display: flex;
    align-items: stretch;
    border: 1px solid #d3d9de;
    background-color: #fff;
    flex-wrap: wrap;
}

.vk-dropdown__input::after {
    content: "";
    background-image: url(down-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0.85em;
    padding: 0 0.5em;
    cursor: pointer;
    background-color: #fff;
    width: 1em;
}

.vk-dropdown__input--selected::after {
    display: none;
}

.vk-dropdown__input input {
    outline: none;
    flex: 1 1 30%;
    min-width: 20%;
    margin: 0;
    padding: 0.6em 1.8em 0.6em 0.8em;
    border: 0;
}

.vk-dropdown__input input:disabled {
    background-color: #fff !important;
}
