.vk-dropdown__input {
    display: flex;
    align-items: stretch;
    border: 1px solid #d3d9de;
}

.vk-dropdown__input::after {
    content: "";
    background-image: url(down-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0.85em;
    width: 0.85em;
    padding: 0 0.5em;
    cursor: pointer;
    background-color: #fff;
}
.vk-dropdown__input input {
    outline: none;
    width: 100%;
    margin: 0;
    padding: 0.5em 1.8em 0.5em 0.8em;
    border: 0;
}
