.vk-dropdown-collection {
    background-color: #fff;
    border: 1px solid #d3d9de;
    border-top: none;
    position: absolute;
    max-height: 20em;
    overflow-y: auto;
}

.vk-dropdown-collection--not-found {
    text-align: center;
    padding: 1em;
    background-color: #f2f4f7;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}
